<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Read Face Data</title>
</head>
<body>
<div class="container">
    <div class="row offset-lg-2">
        <div class="col-8">
            <h3 class="mt-5">Reading Your Face Data</h3>
            <img src="{{ url_for('read_face') }}" width="100%">
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row mt-3 offset-lg-2">
        <div class="col">
            <a href = "{{ url_for('prediction_template') }}" type="button" class="btn btn-primary ">Predict</a>
            <a href = "{{ url_for('home') }}" type="button" class="btn btn-primary ms-5">Home</a>
        </div>
        <div class="col">
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>
</body>
</html>